.env

# -------------------------------------------------------------------
# Terraform Guardrails (Applies to all subdirectories)
# -------------------------------------------------------------------
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/.terraform.lock.hcl